@defer(when juguetes) {
  @if(!detail){
  <div class="row row-cols-4 mx-auto justify-content-center">
    @for(juguete of juguetes; track juguete._id){
    <div class="card my-3 text-center text-capitalize m-2">
        <img class="card-img-top" src="{{juguete.imagen}}" alt="{{juguete.nombre}}" width="200px" height="200px">
      <div class="card-header m-2 border-0">
        <div class="card-title">
          <h5>{{juguete.nombre}}</h5>
        </div>

      </div>
      <div class="card-body">
          <h5 class="text-primary">{{juguete.precio | currency: 'EUR'}}</h5>
      </div>
      <div class="card-footer d-flex justify-content-between ">
        <div class="btn btn-primary text-dark" [routerLink]="juguete._id">
          Detalle
        </div>
        <div class="btn btn-danger text-dark">
          Delete
        </div>
        <!--<p class="badge bg-primary my-auto">Edad mínima: {{juguete.edadMinima}}</p>
        <p class="badge bg-primary my-auto">{{juguete.precio | currency: 'EUR'}}</p> -->
      </div>
    </div>
    }
  </div>
  } @else {
    <div class="row my-4 mx-auto">
      <div class="card">
          <img class="card-img-top" src="{{juguete.imagen}}" alt="{{juguete.nombre}}">
      </div>

    </div>
  }
} @placeholder (minimum 1s){
  <h1 class="text-center text-primary">Cargando juguetes...</h1>
}
