<div class="row">
    <div class="d-flex align-content-center">
      <div class="input-group filter-search">
    <span class="input-group-text" id="input-search">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
      </svg>
    </span>
        <input type="text" class="form-control input-search" placeholder="Buscar..." (input)="search($event)"
               tabindex="-1" aria-label="Search..." aria-describedby="input-search">
      </div>
    </div>
</div>

<div class="row text-center text-capitalize">
  @for(cosmetico of cosmeticos; track cosmetico._id){
    <div class="col-3 p-4">
      <div class="card bg-opacity-25 bg-dark bg-hover">
        <img class="card-img-top bg-white" src="{{cosmetico.image}}" alt="{{cosmetico.name}}" height="300px"
             routerLink="/cosmeticos-detail/{{cosmetico._id}}">
        <div class="card-header" routerLink="/cosmeticos-detail/{{cosmetico._id}}">
          <h3>{{cosmetico.name}}</h3>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="btn btn-danger" (click)="onDelete(cosmetico._id)">ELIMINAR</h5>
            <p class="badge bg-secondary">{{cosmetico.type}}</p>
            <p class="badge bg-success">{{cosmetico.brand}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between m-2">
            <div class="btn btn-outline-info text-primary" (click)="addToCart(cosmetico)">
              Añadir
            </div>
            <div class="btn btn-outline-dark text-primary " routerLink="/edit-cosmetico/{{cosmetico._id}}">
              Editar
            </div>
            <h5>{{cosmetico.price | currency: 'EUR'}}</h5>
          </div>
        </div>
      </div>
    </div>
  }
</div>
