<div class="row">
    <div class="d-flex align-content-center">
      <div class="input-group filter-search">
    <span class="input-group-text" id="input-search">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
      </svg>
    </span>
        <input type="text" class="form-control input-search" placeholder="Buscar..." (input)="search($event)"
               tabindex="-1" aria-label="Search..." aria-describedby="input-search">
      </div>
    </div>
</div>
<div class="row text-center text-capitalize">
  @for(cosmetico of cosmeticos; track cosmetico._id){
    <div class="col-3 p-4">
      <h1 class="text-danger" (click)="onDelete(cosmetico._id)">ELIMINAR</h1>
      <div class="card">
        <img class="card-img-top" src="{{cosmetico.image}}" alt="{{cosmetico.name}}" routerLink="{{cosmetico._id}}">
        <div class="card-header">
          <h1>{{cosmetico.name}}</h1>
        </div>
        <div class="card-body">
          {{cosmetico.type}}
          {{cosmetico.brand}}
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between m-2">
            <div class="btn btn-outline-info" (click)="addToCart(cosmetico)">
              Añadir
            </div>
            <h3>{{cosmetico.price | currency: 'EUR'}}</h3>
          </div>
        </div>
      </div>
    </div>
  }
</div>
