<div class="row text-center text-capitalize">
  @for(cosmetico of cosmeticos; track cosmetico._id){
    <div class="col-3 p-4">
      <h1 class="text-danger" (click)="onDelete(cosmetico._id)">ELIMINAR</h1>
      <div class="card" routerLink="{{cosmetico._id}}">
        <img class="card-img-top" src="{{cosmetico.image}}" alt="{{cosmetico.name}}">
        <div class="card-header">
          <h1>{{cosmetico.name}}</h1>
        </div>
        <div class="card-body">
          {{cosmetico.type}}
          {{cosmetico.brand}}
        </div>
        <div class="card-footer">
          <h3>{{cosmetico.price | currency: 'EUR'}}</h3>
        </div>
      </div>
    </div>
  }
</div>
