@defer(when cargado){
<div>
  <div class="m-4 text-center d-flex justify-content-around text-capitalize">

    <form [formGroup]="formCosmetico" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <div>
          <label for="name">Nombre: </label>
          <input formControlName="name"
                 type="text" required class="form-control"
                 id="name"
                 placeholder="Nombre...">
        </div>
        <div>
          <label for="image">URL Imagen</label>
          <input formControlName="image"
                 type="text" required class="form-control"
                 id="image"
                 placeholder="URL Imagen">
        </div>
        <div>
          <label for="type">Tipo: </label>
          <input formControlName="type"
                 type="text" class="form-control"
                 id="type"
                 placeholder="Type...">
        </div>
        <div>
          <label for="brand">Brand: </label>
          <input formControlName="brand"
                 type="text" class="form-control"
                 id="brand"
                 placeholder="Brand...">
        </div>
        <div>
          <label for="price">Precio:</label>
          <input formControlName="price"
                 type="number" class="form-control"
                 id="price"
                 placeholder="Precio:">
        </div>
        <div class="m-3">
          <button type="submit" class="btn btn-primary"
          [disabled]="formCosmetico.invalid" >Guardar cambios</button>
        </div>
      </div>
    </form>
    <div class="card bg-opacity-25 bg-dark bg-hover">
      <img class="card-img-top bg-white" src="{{image.value? image.value : 'image'}}"
           alt="{{name.value? name.value : 'name'}}" height="300px">
      <div class="card-header">
        <h3>{{name.value? name.value : 'name'}}</h3>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="badge bg-secondary">{{type.value? type.value : 'type'}}</p>
          <p class="badge bg-success">{{brand.value? brand.value : 'brand'}}</p>
        </div>
      </div>
      <div class="card-footer">
          <h5>{{price.value? price.value : 0 | currency: 'EUR'}}</h5>
        </div>
      </div>
    </div>
  </div>
}
