<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Inicio</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLinkJuguete"
         role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Juguetes
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkJuguete">
        <li><a class="dropdown-item" href="">Juguete</a></li>
        <li><a class="dropdown-item" href="">Añadir juguete</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLinkCosmeticos"
         role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Cosméticos
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCosmeticos">
        <li><a class="dropdown-item" href="">Cosméticos</a></li>
        <li><a class="dropdown-item" href="">Añadir cosmético</a></li>
      </ul>
    </li>
  </ul>
  <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
</footer>
